---
import type { GetStaticPaths } from 'astro'
import Layout from '~/layouts/Layout.astro'
import { TagsGroup } from '~/utils'
import Pagination from '~/components/Pagination.astro'
import siteConfig from '~/site.config'
import PostPreview from '~/components/PostPreview.astro'
import PageHeader from '~/components/PageHeader.astro'

// Note: Pagination like '/', '/2', '/3' only works with spread param like [...page]
export const getStaticPaths = (async ({ paginate }) => {
  const tagsGroup = await TagsGroup.build()
  const pages = tagsGroup.collations.flatMap((tags) => {
    // Use flatMap to lift the posts for each tag into a single array
    return paginate(tags.entries.reverse(), {
      params: { tag: tags.key },
      pageSize: siteConfig.pageSize,
    })
  })
  return pages
}) satisfies GetStaticPaths

const { page } = Astro.props
const { tag } = Astro.params
const pageTitle =
  `Tag: ${tag}` + (page.currentPage > 1 ? ` - Page ${page.currentPage}` : '')
---

<Layout title={pageTitle} description={`All posts tagged with ${tag}`}>
  <div class="mt-2 sm:mt-0">
    <PageHeader />
    {page.data.map((post) => <PostPreview post={post} />)}
    <Pagination
      prevLink={page.url.prev ? encodeURI(page.url.prev) : undefined}
      prevText="Newer Posts"
      nextLink={page.url.next ? encodeURI(page.url.next) : undefined}
      nextText="Older Posts"
    />
  </div>
</Layout>
