---
import Layout from '~/layouts/Layout.astro'
import { getSortedPosts } from '~/utils'
import { getCollection, render } from 'astro:content'
import PostPreview from '~/components/PostPreview.astro'
import Pagination from '~/components/Pagination.astro'
import BlockHeader from '~/components/BlockHeader.astro'
import HomeBanner from '~/components/HomeBanner.astro'
import siteConfig from '~/site.config'
import TagsSection from '~/components/TagsSection.astro'
import SeriesSection from '~/components/SeriesSection.astro'

const home = await getCollection('home')
let HomeContent
let homeAvatarImage
let homeGithubCalendar
if (home.length > 0) {
  const homeEntry = home[0]
  const { Content } = await render(homeEntry)
  HomeContent = Content
  homeAvatarImage = homeEntry.data.avatarImage
  homeGithubCalendar = homeEntry.data.githubCalendar
}
const sortedPosts = await getSortedPosts()
const postsHaveTags = sortedPosts.some(
  (post) => post.data.tags && post.data.tags.length > 0,
)

const postsHaveSeries = sortedPosts.some((post) => post.data.series)
---

<Layout>
  {
    HomeContent && (
      <HomeBanner avatarImage={homeAvatarImage} githubCalendar={homeGithubCalendar}>
        <HomeContent />
      </HomeBanner>
    )
  }
  {
    postsHaveSeries && (
      <section>
        <BlockHeader>Series</BlockHeader>
        <SeriesSection posts={sortedPosts} />
      </section>
    )
  }
  {
    postsHaveTags && (
      <section>
        <BlockHeader>Tags</BlockHeader>
        <TagsSection posts={sortedPosts} />
      </section>
    )
  }
  {
    sortedPosts.length > 0 && (
      <section>
        <BlockHeader>Latest Posts</BlockHeader>
        {sortedPosts
          .reverse()
          .slice(0, Math.floor(siteConfig.pageSize / 2))
          .map((post) => (
            <PostPreview post={post} />
          ))}
        <Pagination nextLink="/posts" nextText="Archive" />
      </section>
    )
  }
</Layout>

<style is:global>
  a.heading-anchor {
    display: none !important;
  }
</style>
