---
import { dateString, SeriesGroup } from '~/utils'
import { render, type CollectionEntry } from 'astro:content'
import type { Collation } from '~/types'

interface Props {
  post: CollectionEntry<'posts'>
  class?: string
}

const { post, class: className } = Astro.props
const { remarkPluginFrontmatter } = await render(post)
const { minutesRead } = remarkPluginFrontmatter
const seriesFrontmatter = post.data.series
let series: Collation<'posts'> | undefined
let seriesPostNumber: number | undefined
let seriesTotal: number | undefined
if (seriesFrontmatter) {
  const seriesGroup = await SeriesGroup.build()
  series = seriesGroup.match(seriesFrontmatter)
  if (!series) {
    // This should never happen if the series data is correct
    throw new Error(`Series "${seriesFrontmatter}" not found`)
  }
  seriesPostNumber = series.entries.findIndex((p) => p.id === post.id) + 1
  seriesTotal = series.entries.length
}
---

<div class:list={[className, 'text-foreground/80']}>
  <div
    class="flex flex-col gap-4 sm:gap-2 sm:flex-wrap items-start sm:items-center sm:flex-row"
  >
    {
      series && seriesPostNumber && seriesTotal && (
        <a
          class="shrink-0 rounded-2xl py-[3px] px-3.5 bg-foreground/1 me-2.5 hover:bg-foreground/5 transition-colors border-1 border-foreground/16 hover:border-foreground/20"
          href={series.url}
        >
          {series.title} {seriesPostNumber} / {seriesTotal}
        </a>
      )
    }
    <div class="shrink-0 pl-0.5 text-[17px] sm:text-base">
      <time>{dateString(post.data.published)}</time>
      {
        post.data.author && (
          <span class="before:content-['·'] before:font-bold before:inline-block before:mx-0.5">
            {post.data.author}
          </span>
        )
      }
      {
        minutesRead && (
          <span class="before:content-['·'] before:inline-block before:mx-0.5">
            {minutesRead}
          </span>
        )
      }
    </div>
  </div>
</div>
