---
import type { SocialLinks } from '~/types'
import IconGithub from '~/icons/github.svg'
import IconMastodon from '~/icons/mastodon.svg'
import IconTwitter from '~/icons/twitter.svg'
import IconLinkedin from '~/icons/linkedin.svg'
import IconBluesky from '~/icons/bluesky.svg'
import IconEmail from '~/icons/email.svg'
import IconRss from '~/icons/rss.svg'

interface Props {
  socialLinks: SocialLinks
}

const { socialLinks } = Astro.props
---

<div class="flex w-full max-w-md items-center justify-between">
  {
    socialLinks.github && (
      <a
        href={socialLinks.github}
        target="_blank"
        rel="noopener noreferrer"
        class="social-link"
      >
        <span class="sr-only">GitHub</span>
        <IconGithub class="size-7" />
      </a>
    )
  }
  {
    socialLinks.mastodon && (
      <a
        href={socialLinks.mastodon}
        target="_blank"
        rel="noopener noreferrer"
        class="social-link"
      >
        <span class="sr-only">Mastodon</span>
        <IconMastodon class="size-7" />
      </a>
    )
  }
  {
    socialLinks.twitter && (
      <a
        href={socialLinks.twitter}
        target="_blank"
        rel="noopener noreferrer"
        class="social-link"
      >
        <span class="sr-only">Twitter</span>
        <IconTwitter class="size-7" />
      </a>
    )
  }
  {
    socialLinks.linkedin && (
      <a
        href={socialLinks.linkedin}
        target="_blank"
        rel="noopener noreferrer"
        class="social-link"
      >
        <span class="sr-only">LinkedIn</span>
        <IconLinkedin class="size-7" />
      </a>
    )
  }
  {
    socialLinks.bluesky && (
      <a
        href={socialLinks.bluesky}
        target="_blank"
        rel="noopener noreferrer"
        class="social-link"
      >
        <span class="sr-only">Bluesky</span>
        <IconBluesky class="size-7" />
      </a>
    )
  }
  {
    socialLinks.email && (
      <a
        href={`mailto:${socialLinks.email}`}
        target="_blank"
        rel="noopener noreferrer"
        class="social-link"
      >
        <span class="sr-only">Email</span>
        <IconEmail class="size-7" />
      </a>
    )
  }
  {
    socialLinks.rss && (
      <a href="/rss.xml" class="social-link">
        <span class="sr-only">RSS</span>
        <IconRss class="size-7" />
      </a>
    )
  }
</div>
